In [1]:
# Dependencies and Setup
import pandas as pd

# Source data location
source_file_loc = 'source_data/'

## 1.) Read in source dataset and filter rows/columns

In [6]:
# 1a.) Read in housing dataset into dataframe
data_file = 'opa_properties_public_2016_2020.csv'

housing_df_raw = pd.read_csv(source_file_loc + data_file,low_memory=False)

In [7]:
housing_df_raw.head()

,objectid,assessment_date,basements,beginning_point,book_and_page,building_code,building_code_description,category_code,category_code_description,census_tract,...,unfinished,unit,utility,view_type,year_built,year_built_estimate,zip_code,zoning,lat,lng
0,30283185,NaN,H,70' N FROM NS OF,586035,O50,ROW 3 STY MASONRY,1,Single Family,11.0,...,NaN,NaN,NaN,I,1875,Y,19147.0,RM1,-75.164191,39.943765
1,30788703,NaN,NaN,83.573' W 41ST,382467,CA0,APTS 5-50 UNITS MASONRY,2,Multi Family,110.0,...,NaN,NaN,NaN,I,1915,NaN,19104.0,RM1,-75.207255,39.975039
2,30788704,NaN,NaN,101.573' W 41ST,382467,CA0,APTS 5-50 UNITS MASONRY,2,Multi Family,110.0,...,NaN,NaN,NaN,I,1915,Y,19104.0,RM1,-75.207315,39.975060
3,30788705,NaN,NaN,20.667' W 42ND ST,382467,CA0,APTS 5-50 UNITS MASONRY,2,Multi Family,110.0,...,NaN,NaN,NaN,I,1915,NaN,19104.0,RSA3,-75.209677,39.976058
4,30788706,NaN,NaN,93' W 42ND ST,382467,CA0,APTS 5-50 UNITS MASONRY,2,Multi Family,110.0,...,NaN,NaN,NaN,I,1915,Y,19104.0,RSA3,-75.209910,39.976144

In [8]:
len(housing_df_raw)

143152

In [12]:
# 1b.) Remove rows out of scope for analysis


# Keep only residential building categories - category_code_description is one of Mixed Use, Multi Family, Single Family
category_codes = ['Single Family','Multi Family','Mixed Use']
housing_df_etl = housing_df_raw.loc[housing_df_raw['category_code_description'].isin(category_codes) == True,:]

# Take out any records designated as "Unfinished" - unfinished field equals "U"
housing_df_etl = housing_df_etl.loc[housing_df_etl['unfinished'] != 'U']

In [13]:
len(housing_df_etl)

123984